@font-face {
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/assistant-v6-latin-300.woff2') format('woff2'), url('../fonts/assistant-v6-latin-300.woff') format('woff');
}

@font-face {
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/assistant-v6-latin-500.woff2') format('woff2'), url('../fonts/assistant-v6-latin-500.woff') format('woff');
}
